	<!-- TODO how to make this "fill the body" - height: 300px is stupid... -->
	<div ng-grid="ui.myGrid.options" style="height: 300px; border: 1px solid rgb(212,212,212)"></div>
	
	<!-- This is just to illustrate 'in-view' master/detail editing.. -->
	<div><h4>Sample "in-view" Master/Detail View or Form</h4>
		<form class="form-horizontal"> <!-- form-inline not (yet?) supported by Generator -->
			<div class="control-group">
				<label class="control-label">Name:</label>
				<div class="controls">
					<input ng-model="ui.myGrid.selections[0].name" class="input-small" required>
					<!-- TODO how to only show '(' ... ')' if there's an email? -->
					(<a href="mailto:{{ui.myGrid.selections[0].email}}">{{ui.myGrid.selections[0].email}}</a>)
				</div>
			</div>
		</form>
		<!--<div>Country: {{mySelections[0].country}}</div>-->
	</div>
