<!-- TODO use of fixed name="myForm" probably needs some refinement.. what if two forms on same page?! -->
<form name="myForm" class="form-horizontal">
    <fieldset>
        <legend ng-if="uimodel.legend">{{uimodel.legend}}</legend>

        <!-- TODO use of {{$index + 1}} as id/label-for might need some refinement.. what if two forms on same page?! What about sensible stable IDs for WebDriver-like UI testing? -->
        <!-- TODO type doesn't actually work (try changing to hard-coded type="email" and it would) -->
        <!-- TODO ng-show causes "Token 'undefined' not a primary expression"... @see http://stackoverflow.com/questions/17901054/angularjs-expression-why-not-lazily-evaluated-causing-token-undefined-not-a -->
        <div ng-repeat="auimodelField in uimodel.fields" class="control-group" ng-class="{error: myForm.thisfield.$invalid}" ng-show="!auimodelField.showOnlyIf || {{auimodelField.showOnlyIf}}">
            <ng-form name="myForm">
                <label class="control-label" for="{{$index + 1}}">{{auimodelField.label}}</label>
                <div class="controls">
                    <!-- cannot use <div ng-if="auimodelField.prefix" class="input-prepend"> here,
                         because that removes the entire DIV incl. content, not just this div tag! :-(
                         instead use ng-class. Disadvantage is that div will always be there, possibly without class, but that doesn't really matter. -->
                    <div ng-class="{'input-prepend': auimodelField.prefix}">
                        <span ng-if="auimodelField.prefix" class="add-on"><i class="icon-{{ auimodelField.prefix.glyphicon }}"></i></span>
                        <input id="{{$index + 1}}" name="thisfield" ng-model="auimodelField.modelB[auimodelField.modelL]" type="{{auimodelField.type}}" ng-required="{{auimodelField.required}}" class="input-xlarge" />
                        <span ng-show="myForm.thisfield.$error.required" class="help-inline">Required</span>
                        <span ng-show="myForm.thisfield.$error.email" class="help-inline">Not an Email</span>
                        <span ng-show="myForm.thisfield.$error.number" class="help-inline">Not a Number</span>
                        <!-- NOTE: name="thisfield", for ALL input, is actually correct & works. -->
                    </div>
                </div>
            </ng-form>
        </div>

        <!-- TODO some more stuff from contacts.html... -->

        <!-- TODO Multi-Value address line à la https://bootsnipp.com/snipps/dynamic-form-fields -->

        <div class="control-group">
            <div class="alert alert-block">
                <!-- Idea: Always auto-save, intentionally No SAVE button here? Generator should allow to choose autoSave vs. explicitSave style? -->
                <a ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-large btn-primary">Save</a>
                <!--<a ng-disabled="true" class="disabled btn btn-large btn-inverse pull-right">Cancel</a>
                <h4>Saving changes...</h4>
                <p>Press Cancel to Undo.</p>-->
                <!-- TODO <a ng-click="destroy()" ng-show="model.contact.id" class="btn btn-large btn-danger pull-right">Delete</a> -->
            </div>
        </div>

    </fieldset>
</form>
